.tab-content {
    display: flex;
    flex-direction: column;
  }
  
  .tabs {
  }

  .tab {
    padding: 0.5rem 1rem;
    border-bottom: none;
    width: 100%;
    cursor: pointer;
  }

  .tab span {
    transition: all .1s linear;
  }

  .tab:hover > span {
    color: #5a95ff;
  }
  
  .tab.active {
    border-bottom: 1px solid white;
    background: #e6f7ff;
  }
  
  .tab-panels {
  }
  
  .tab-panel {
    /* padding: 1rem; */
  }