@import '~/src/e2e/variables.less';

.Header-component {
  // position: sticky;
  top: 0;
  z-index: 800;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 12px;
  box-shadow: @box-shadow;

  .drop-menu-item {
    position: relative;
  }

  .menu-respon {
    // padding-right: 20px;
    // padding-left: 20px;
  }

  .menu-respon a {
    color: black;
  }

  .modules-group .a1 {
    padding: 0 !important;
    color: white;
  }

  .modules-group a {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: center;
    // width: 6rem;
    height: 60%;
    margin: 2px 5px 2px 5px;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 15px;
    text-align: center;
    transition: color 0.5s, fill 0.5s, border 0.5s;

    img {
      max-width: 50px;
    }

    &:hover {
      // height: 1.625rem !important;
      color: rgb(11, 185, 185);
      // border: 1px solid;
      // border-radius: 10px;
    }
  }

  .go-back {
    position: absolute;
    top: 50%;
    left: 26px;

    transform: translateY(-50%);
    cursor: pointer;
  }

  .module-logo {
    div {
      display: none;
    }

    height: 100%;
    padding-left: 20px;
    color: black;
    font-size: 20px;

    img {
      // width: 30px;
    }
  }

  .lang-module {
    position: relative;
    margin-left: 10px;
  }

  .module-head {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: start;
    height: 2.8125rem;
    color: white;
  }

  // .module-head > div {
  //   height: ;
  // }
  .module-head-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    height: 2.8125rem;
    background: #303130;
  }

  .onSelect {
    height: 1.625rem !important;
    // text-decoration: underline;
    color: rgb(11, 185, 185) !important;
  }

  .userID {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    border-radius: 10px;
    cursor: pointer;

    img {
      width: 1rem;
      height: 0.9375rem;
    }
  }
}
.Header-component1 {
  // position: sticky;
  top: 0;
  z-index: 600;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 12px;
  box-shadow: @box-shadow;

  .drop-menu-item {
    position: relative;
  }

  .menu-respon {
    // padding-right: 20px;
    // padding-left: 20px;
  }

  .menu-respon a {
    color: black;
  }

  .modules-group .a1 {
    padding: 0 !important;
    color: white;
  }

  .modules-group a {
    display: flex;
    gap: 22px;
    align-items: center;
    justify-content: center;
    // width: 6rem;
    height: 60%;
    margin: 2px 5px 2px 5px;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    line-height: 15px;
    text-align: center;
    transition: color 0.5s, fill 0.5s, border 0.5s;

    img {
      max-width: 50px;
    }

    &:hover {
      // height: 1.625rem !important;
      color: rgb(11, 185, 185);
      // border: 1px solid;
      // border-radius: 10px;
    }
  }

  .go-back {
    position: absolute;
    top: 50%;
    left: 26px;

    transform: translateY(-50%);
    cursor: pointer;
  }

  .module-logo {
    div {
      display: none;
    }

    height: 100%;
    padding-left: 20px;
    color: black;
    font-size: 20px;

    img {
      // width: 30px;
    }
  }

  .lang-module {
    position: relative;
    margin-left: 10px;
  }

  .module-head {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: start;
    height: 2.8125rem;
    color: white;
  }

  // .module-head > div {
  //   height: ;
  // }
  .module-head-form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    height: 2.8125rem;
    background: #303130;
  }

  .onSelect {
    height: 1.625rem !important;
    // text-decoration: underline;
    color: rgb(11, 185, 185) !important;
  }

  .userID {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 100%;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    border-radius: 10px;
    cursor: pointer;

    img {
      width: 1rem;
      height: 0.9375rem;
    }
  }
}
.drop:focus {
  color: rgb(11, 185, 185);
}

@media (max-width: 767px) {
  .reponMenu {
    margin-left: -10px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .reponMenu {
    margin-left: -45px;
  }
}
@media (min-width: 1024px) {
  .reponMenu {
    margin-left: 45px;
  }
}
