.header {
    text-align: center;
    margin-bottom: 40px;
}

.container {
    /* tw-flex flex-column justify-content-center m-auto gap-3 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.title {
    width: 150px;
    padding-right: 20px;
    font-weight: bold;
}

.save-btn {
    margin-top: 30px;
    text-align: end;
}

.content {
    flex: 1;
    display: flex;
    align-items: center;
}

.content-box {
    width: 100%;
}

.mode-btn {
    padding: 8px 12px;
}

.list-groups {
    margin-right: 100px;
}

.groups-list {
    padding: 8px 10px;
}

.test {
    display: flex;
    align-items: center;
    padding: 12px;
}

.popup-listGroups {
    padding: 30px;
}

.groups-name {
    display: flex;
}

.searchGroupName-btn {
    margin-left: auto;
}