.pin {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
}

.pinMess {
  width: fit-content;
  padding: 10px;
  background-color: var(--left-msg-bg);
  border-radius: 5px;
}

@media (min-width: 1024px) {
  .width50 .ant-drawer-content-wrapper{
    width: 500px !important;
  }
}
@media (min-width: 768px) and (max-width: 1023px){
  .width50 .ant-drawer-content-wrapper{
    width: 400px !important;
  }
}