.chat-Item {
  margin: 12px 0;
}
/* 
.contentChat {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
}

.header {
  width: 100%;
}

.content {
  flex: 1;
}

.icon-plus {
  position: absolute;
  z-index: 9;
  z-index: 555;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  /* background-color: rgb(181, 181, 181); */
/* font-size: 24px; */
/* } */

/* .Emoji {
  position: absolute;
  right: 20px;
  bottom: 100px;
  z-index: 999;
} */

/* .input-content {
  width: 100%;
}

.input-content textarea {
  width: 100%;
  height: 100%;
  outline: none;
  resize: none;
}

.footer-content {
  display: flex;
  height: 10%;
}

.btn-send {
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: rgb(134, 134, 255);
}
/*  body {
  height: 100%;
  overflow-y: hidden;
}  */

.msger-chat {
  flex: 1;
  height: calc(100% - 200px);
  max-height: calc(100% - 200px);
  padding: 20px;
  overflow-x: hidden;
  overflow-y: overlay;
  width: 425px;
  margin-left: -40px;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}

.avatarImg {
  margin-top: 18px;
}

.avatarSend {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  font-size: 14px;
  background: #c9e5ff;
  border-radius: 50%;
  overflow: hidden;
}
.avatarSend1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  font-size: 14px;
  background: #c9e5ff;
  border-radius: 50%;
  overflow: hidden;
}
.msg-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 150px;
  padding: 15px;
  background: var(--left-msg-bg);
  border-radius: 15px;
  font-size: 14px;
}
.msg-info {
  display: flex;
  height: 10px;
  align-items: center;
  font-size: 12px;
  justify-content: space-between;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  margin-top: 10px;
  font-size: 14px;
}

.left-msg .msg-bubble {
  word-wrap: break-word;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  color: #fff;
  background: var(--right-msg-bg);
  border-bottom-right-radius: 0;
  font-size: 14px;
  word-wrap: break-word;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msg-type {
  justify-content: center;
}

.msg-system {
  display: flex;
  padding: 10px 15px;
  background-color: #f1f5f8;
  border: 1px solid #e4ebf1;
  border-radius: 10px;
  font-size: 12px;
}

.msg-system-time {
  margin-left: 12px;
  font-size: 12px;
}

.msger-send-btn {
  margin-right: 40px;
  margin-left: 10px;
  padding-right: 20px;
  color: #fff;
  font-weight: bold;
  background: #579ffb;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: #4c84ce;
}

/* .msg .msg-type{
  display: flex;
  justify-content: center;
  background: var(--type-msg-bg);
} */
/* 
.msger-inputarea {
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  padding: 10px;
  background: #eee;
  border-top: var(--border);
}
.msger-inputarea * {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 3px;
}
.msger-input {
  flex: 1;
  width: 100%;
  height: 70px;
  overflow-y: scroll;
  background: #ddd;
} */
/* .msger-send-btn {
  margin-left: 10px;
  color: #fff;
  font-weight: bold;
  background: rgb(0, 196, 65);
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
} */

.right-msg .avatarSend {
  margin-left: 10px;
}

/* Emoji */
.epr-header,
.epr-header-overlay,
.epr-category-nav,
.epr-body,
.epr-header-overlay {
  padding: 0;
}

.emoij-btn img {
  width: 50px;
  height: 50px;
}

.msg-text {
  word-wrap: break-word;
  font-size: 14px;
}

.msg-more {
  position: relative;
  /* margin: 0 12px; */
  margin-right: 30px;
  font-size: 22px;
  cursor: pointer;
}

.right-msg .messDel {
  background: var(--msg-del-right);
}
.left-msg .messDel {
  background: var(--msg-del-left);
  opacity: 0.8;
}

.msg-more-left {
  margin-right: 0;
  margin-left: 30px;
}

.msg-Action {
  position: absolute;
  right: 50%;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  overflow: hidden;
  font-size: 15px;
  background-color: #eee;
  border-radius: 12px;
  transform: translateX(50%);
  transition: all 0.4s linear;
}

.action {
  width: 100%;
  padding: 6px 12px;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
}

.left-msg .msg-bubble .msg-text .file .fileInfo .nameFile {
  color: #585858;
  font-size: 14px;
}

.left-msg .msg-bubble .msg-text .file .fileInfo a {
  color: #585858;
}

.left-msg .msg-bubble .msg-text .file .fileInfo a:hover {
  color: #cecece;
}

.file {
  margin-bottom: 10px;
}

.action:hover {
  color: #fff;
  background-color: #579ffb;
}

.del {
  justify-content: end;
}

.file {
  display: flex;
}

.file img {
  width: 20px;
  margin-right: 12px;
}

.nameFile {
  color: #fff;
  font-size: 14px;
  width: 100px !important;
}

.fileInfo a {
  display: inline;
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
  border-radius: 6px;
}

.fileInfo a:hover {
  color: #2b2b2b;
}

.conversationImg {
  margin-bottom: 10px;
  cursor: pointer;
}

.model {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
  transition: all 2s linear;
}

.model-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.model-container img {
  width: 50%;
  max-width: 50%;
  max-height: 60%;
  /* image-rendering: crisp-edges; */
  object-fit: contain;
}

.model-close {
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 10px;
  cursor: pointer;
}

.model-close:hover {
  opacity: 0.7;
}

.ant-image-mask {
  display: none;
}

.ant-image-preview-wrap {
  background-color: #00000069;
}

.ant-image-preview-operations {
  color: #000;
  background-color: #fff;
}

.ant-image-preview-operations-operation-disabled {
  color: #00000091;
}

.ant-image-preview-body {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 30px;
  left: 0;
  overflow: hidden;
}
.filevideo {
  max-width: 100%;
}

.seen-btn {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

.subMenuPin {
  position: absolute;
  top: 50%;
  display: none;
  max-width: 200px;
  height: 160px;
  max-height: 160px;
  padding: 10px 0;
  overflow-x: hidden;
  overflow-y: overlay;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transform: translateY(-50%);
  will-change: scroll-position;
  overscroll-behavior: contain;
}

.subMenuPin::-webkit-scrollbar {
  display: none;
}

.subMenuPin:hover::-webkit-scrollbar {
  display: block;
  width: 4px;
}

.subMenuPin::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.subMenuPin li {
  width: fit-content;
  width: 100%;
  padding: 6px 20px;
  overflow: hidden;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subMenuPin li:hover {
  color: #fff;
  background-color: #2569c0;
}

.menuPin:hover .subMenuPin {
  display: block;
}